
# This is the base configuration. 
version: '3.2'

services:

  # -------------------------------------------------------------
  # Staff Access Service Configuration (no locks):
  # -------------------------------------------------------------
  pywb-staff:
    image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/${PYWB_IMAGE}
    environment:
      - "TLDEXTRACT_CACHE_TIMEOUT=0.1"
    volumes:
      - ./pywb/staff.yaml:/webarchive/config.yaml
      - ${STORAGE_PATH_ACL}:/ukwa_pywb/acl/
      - ./logos/logo-staff.png:/ukwa_pywb/static/ukwa-2018-w-med.png
      # Smaller logo is 42~ x 26
      - ./logos/logo-staff-sml.png:/ukwa_pywb/static/ukwa-2018-w-sml.png
      - ./pywb/collections:/ukwa_pywb/collections
    depends_on:
      - redis
      - doc-streamer
    ports:
      - "8309:8080"


  # -------------------------------------------------------------
  # Reading Room Wayback with SCU locks, per LDL:
  # -------------------------------------------------------------
  pywb-bl:
    image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/${PYWB_IMAGE}
    environment:
      - "REDIS_URL=redis://redis:6379/0" # Locks stored in Redis DB 0
      - "LOCKS_AUTH=${LOCKS_AUTH}"
      - "TLDEXTRACT_CACHE_TIMEOUT=0.1"
      - "LOCK_PING_INTERVAL=5"
      - "LOCK_PING_EXTEND_TIME=10"
      - "MUST_AGREE_TO_TERMS=true"
    volumes:
      - ./pywb/readingroom.yaml:/webarchive/config.yaml
      - ${STORAGE_PATH_ACL}:/ukwa_pywb/acl/
      - ./logos/bl_logo.png:/ukwa_pywb/static/ukwa-2018-w-med.png
      - ./logos/bl_logo.png:/ukwa_pywb/static/ukwa-2018-w-sml.png
      - ./pywb/collections:/ukwa_pywb/collections
    depends_on:
      - redis
      - doc-streamer
    ports:
      - "8300:8080"

  pywb-nls:
    image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/${PYWB_IMAGE}
    environment:
      - "REDIS_URL=redis://redis:6379/1"
      - "LOCKS_AUTH=${LOCKS_AUTH}"
      - "TLDEXTRACT_CACHE_TIMEOUT=0.1"
      - "LOCK_PING_INTERVAL=5"
      - "LOCK_PING_EXTEND_TIME=10"
      - "MUST_AGREE_TO_TERMS=true"
    volumes:
      - ./pywb/readingroom.yaml:/webarchive/config.yaml
      - ${STORAGE_PATH_ACL}:/ukwa_pywb/acl/
      - ./logos/nls_logo.png:/ukwa_pywb/static/ukwa-2018-w-med.png
      - ./logos/nls_logo.png:/ukwa_pywb/static/ukwa-2018-w-sml.png
      - ./pywb/collections:/ukwa_pywb/collections
    depends_on:
      - redis
      - doc-streamer
    ports:
      - "8301:8080"

  pywb-llgc:
    image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/${PYWB_IMAGE}
    environment:
      - "REDIS_URL=redis://redis:6379/2"
      - "LOCKS_AUTH=${LOCKS_AUTH}"
      - "TLDEXTRACT_CACHE_TIMEOUT=0.1"
      - "LOCK_PING_INTERVAL=5"
      - "LOCK_PING_EXTEND_TIME=10"
      - "MUST_AGREE_TO_TERMS=true"
    volumes:
      - ./pywb/readingroom.yaml:/webarchive/config.yaml
      - ${STORAGE_PATH_ACL}:/ukwa_pywb/acl/
      - ./logos/llgc_logo.png:/ukwa_pywb/static/ukwa-2018-w-med.png
      - ./logos/llgc_logo.png:/ukwa_pywb/static/ukwa-2018-w-sml.png
      - ./pywb/collections:/ukwa_pywb/collections
    depends_on:
      - redis
      - doc-streamer
    ports:
      - "8302:8080"

  pywb-cam:
    image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/${PYWB_IMAGE}
    environment:
      - "REDIS_URL=redis://redis:6379/3"
      - "LOCKS_AUTH=${LOCKS_AUTH}"
      - "TLDEXTRACT_CACHE_TIMEOUT=0.1"
      - "LOCK_PING_INTERVAL=5"
      - "LOCK_PING_EXTEND_TIME=10"
      - "MUST_AGREE_TO_TERMS=true"
    volumes:
      - ./pywb/readingroom.yaml:/webarchive/config.yaml
      - ${STORAGE_PATH_ACL}:/ukwa_pywb/acl/
      - ./logos/cambridge_logo.png:/ukwa_pywb/static/ukwa-2018-w-med.png
      - ./logos/cambridge_logo.png:/ukwa_pywb/static/ukwa-2018-w-sml.png
      - ./pywb/collections:/ukwa_pywb/collections
    depends_on:
      - redis
      - doc-streamer
    ports:
      - "8303:8080"

  pywb-bod:
    image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/${PYWB_IMAGE}
    environment:
      - "REDIS_URL=redis://redis:6379/4"
      - "LOCKS_AUTH=${LOCKS_AUTH}"
      - "TLDEXTRACT_CACHE_TIMEOUT=0.1"
      - "LOCK_PING_INTERVAL=5"
      - "LOCK_PING_EXTEND_TIME=10"
      - "MUST_AGREE_TO_TERMS=true"
    volumes:
      - ./pywb/readingroom.yaml:/webarchive/config.yaml
      - ${STORAGE_PATH_ACL}:/ukwa_pywb/acl/
      - ./logos/bodleian_logo.png:/ukwa_pywb/static/ukwa-2018-w-med.png
      - ./logos/bodleian_logo.png:/ukwa_pywb/static/ukwa-2018-w-sml.png
      - ./pywb/collections:/ukwa_pywb/collections
    depends_on:
      - redis
      - doc-streamer
    ports:
      - "8304:8080"

  pywb-tcd:
    image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/${PYWB_IMAGE}
    environment:
      - "REDIS_URL=redis://redis:6379/5"
      - "LOCKS_AUTH=${LOCKS_AUTH}"
      - "TLDEXTRACT_CACHE_TIMEOUT=0.1"
      - "LOCK_PING_INTERVAL=5"
      - "LOCK_PING_EXTEND_TIME=10"
      - "MUST_AGREE_TO_TERMS=true"
    volumes:
      - ./pywb/readingroom.yaml:/webarchive/config.yaml
      - ${STORAGE_PATH_ACL}:/ukwa_pywb/acl/
      - ./logos/trinity_logo.png:/ukwa_pywb/static/ukwa-2018-w-med.png
      - ./logos/trinity_logo.png:/ukwa_pywb/static/ukwa-2018-w-sml.png
      - ./pywb/collections:/ukwa_pywb/collections
    depends_on:
      - redis
      - doc-streamer
    ports:
      - "8305:8080"


  # -------------------------------------------------------------
  # Supporting Services:
  # -------------------------------------------------------------

  # Redis service to hold locks
  redis:
    image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/redis:6

  # Add Prometheus for direct access to metrics:s
  prometheus:
    image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/prom/prometheus
    ports:
      - 3990:9090
    volumes:
      - ./prometheus:/etc/prometheus
      - "${STORAGE_PATH_PROMETHEUS}:/prometheus"
    user: root
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention.time=400d'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
#      - '--web.external-url=http://${CRAWL_HOST_LAN_IP}:9191/'
      - '--web.enable-admin-api'
      - '--web.enable-lifecycle'
    depends_on:
      - nginx

  # Add some setup via NGINX
  nginx:
    image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/nginx:1
    command: /opt/mtail/entrypoint.sh
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d/:ro
      - ./nginx/mtail:/opt/mtail:ro
      - ./nginx/webroot:/var/www/nginx-default/:ro
      #- ./nginx/logs:/var/log/nginx:rw
    ports:
      - "8100:8100" # Shared port (service determine by Host header)
      - "8200:8200" # BL
      - "8201:8201" # NLS
      - "8202:8202" # LLGC
      - "8203:8203" # CUL
      - "8204:8204" # BOD
      - "8205:8205" # TCD
      - "8209:8209" # Staff (default when Host header does not match)
      - "3903:3903" # mtail port for monitoring
    depends_on:
      - pywb-staff
      - pywb-bl
      - pywb-nls
      - pywb-llgc
      - pywb-cam
      - pywb-bod
      - pywb-tcd
    networks:
      default:
        aliases: # So Docker services on the internal network can resolve services by name:
          - bl.ldls.org.uk
          - nls.ldls.org.uk
          - llgc.ldls.org.uk
          - cam.ldls.org.uk
          - bodleian.ldls.org.uk
          - tcdlibrary.ldls.org.uk

  # ePub Streamer/Unzipper
  doc-streamer:
    image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/ukwa/epub-streamer:main
    environment:
      - ARK_SERVER=${DLS_ACCESS_SERVER}

#logging:
#  driver: gelf
#  options:
#    gelf-address: "udp://logs.wa.bl.uk:12201"

